  
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i|Open+Sans:300,300i,400,400i&subset=latin-ext");
h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    line-height: 70px;
    text-shadow: 2px 2px 2px white;
    letter-spacing: 1px;
}
h1b {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: black;
    line-height: 30px;
    text-shadow: 2px 2px 2px white;
    letter-spacing: 1px;
    text-align: left;
 

}
h1_c {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    line-height: 70px;
    text-shadow: 1px 1px 1px white;
    letter-spacing: 1px;
     text-transform: uppercase;
    display: block
       
        

}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: black;
    text-align: center;
}
h2b {
    font-family: "Open Sans", sans-serif;
    font-weight:1000;
    font-size: 28px;
    color: black;
    text-align: center;
      
}


h3 {font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  font-weight: 500;
   font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

h3head {font-family: "Open Sans", sans-serif;
font-weight: 700;  
margin-left: 20px;
font-size: 15px;

}
h3b {font-family: "Open Sans", sans-serif;
font-weight: 700;  
margin-left: 20px;
font-size: 15px;
text-align: center;
}

h3bb {font-family: "Open Sans", sans-serif;
font-weight: 700;  

font-size: 15px;
text-align: center;
}

h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
   font-size: 16px;
    text-align: left;
    color:black;
  
}

h4_c {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
   font-size: 16px;
    text-align: center;
    color:black;
     line-height: 70px;
  
}

h6 {
  display: block;
 font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  font-weight: 900;
   font-size: 15px;
    margin-bottom: 20px;
}
h7 {
  display: block;
 font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  font-weight: 900;
   font-size: 15px;
    margin-bottom: 20px;
    color: black;
}

.navbar-nav li a {
   text-decoration: none; 
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
     
   
}







.hero-image1 {
  background-image: url("ind_11.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}








.button {
  background-color:  #4d2abf; /* Blue */
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  
  cursor: pointer;
  border-radius: 20px;
}
#rcorners1 {
  border-radius: 20px;
    padding: 5px 10px;
     display: inline-block;
  font-size: 12px;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

footer {
    margin-top: 60px;
    padding: 5em;
}




.first-txt { 
            position: absolute; 
           
     
        top: 25px;
    padding: 2em;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
       color: white;
      
        } 
  
.second-txt { 
            position: absolute; 
    padding: 3em;
            top: 100px; 
            left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
 
       color: white;
    
    
        } 
.third-txt { 
            position: absolute; 
            bottom: 5px;  
             left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
           
        } 
.kast0{
background-color: #f2f2f2;
  padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.kast{
background-color: #f2f2f2;
  padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.kast2{
padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.hinnad{
background-color: #f2f2f2;
color:#8d8d8d;
 
}

.table{
display:table;	
background-color: #ffffff ;
font-size:14px;
border-bottom:2px solid #dddddd;


}


.center {
  display: flex;
  justify-content: center;
  align-items: center;

}
.right {text-align:right;}
.well{display: block;
overflow: auto;}

.hero-image {
  background-image: url("ind_5.jpg");
  
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
   background-size: cover;
  position: relative;
 
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}


footer {
    margin-top: 40px;
    padding: 2em;
}
p {font-size: 16px;
    margin-bottom: 20px;
}
pp {font-size: 16px;
    
}
.fa {
  padding: 10px;
   
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px ;
}

.fa:hover {
    opacity: 0.7;
}


.bg-dark {
 
  color: white;
}


#map {
    position: relative;
    width: 400px;
    height: 300px;
    margin: auto;
   
}

ul {
  
 
    list-style-position: outside;
    font-size: 15px;
    
}
li.leaf {
background: url('linnuke4.png') no-repeat ;
 padding-left: 30px;
display: block;
     padding-top: -20px;
    margin-bottom: 10px;
   
}
.taust1 {
 background-image: url("bgb.jpg");
 padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: -60px;
}
.taust {
  background: #4d2abf;
  background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: -40px;

}
